{% extends 'base.html' %}
{% block title %}代辦事項{% endblock %}
{% block style %}
<style>
    .todo-list {
        background-color: rgb(255, 227, 203);
        margin: 36px auto;
        width: 450px;
        height: 200px;
        border-radius: 12px;
    }

    .date {
        background-color: orangered;
        color: rgb(251, 210, 191);
    }

    .text {
        background-color: white;
        height: 80px;
        border-radius: 6px;
        padding: 6px;
        margin: 12px;
    }

    .title {
        color: navy;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .important {
        color: brown;
    }
</style>

{% endblock %}

{% block content %}
<h1>
    {% if completed %}
    Completed-Todo
    {%else %}
    To Do List
    {% endif %}
</h1>
{% for todo in todos %}
<div class="todo-list">
    <p class="date">{{todo.created}}</p>
    <p class="title">
        <a href="{% url 'view-todo' todo.id %}">{{todo.title}}</a>
        {% if todo.important %}
        <span class="important">(重要)</span>
        {% endif %}
    </p>
    <p class="text">{{todo.text}}</p>
    <a href="{% url 'delete-todo' todo.id %}" class="button-style" style="margin-bottom: 6px; font-size: 12px;"
        onclick="return confirmDelete()">刪除</a>
    {% if completed %}
    <a href="{% url 'uncompleted-todo' todo.id %}" class="button-style" style="margin-bottom: 6px; font-size: 12px;"
        onclick="return confirmUnCompleted()">恢復</a>
    {%else %}
    <a href="{% url 'completed-todo' todo.id %}" class="button-style" style="margin-bottom: 6px; font-size: 12px;"
        onclick="return confirmCompleted()">完成</a>
    {% endif %}
</div>
{% endfor %}

{% endblock %}